.countries-container {
  padding: 1.5rem;

  .heading {
    display: flex;
  }

  .filters-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    input[type="text"],
    select {
      border: 2px solid #2d2d2f;
      width: 10rem;
      padding: 0.5rem;
      margin-right: 1rem;
    }

    select {
      appearance: none;
      background-color: white;
    }

    button {
      border: none;
      font-weight: bold;
      color: rgb(82, 82, 239);
      cursor: pointer;
      margin-left: 1rem;
      padding: 0.5rem 1rem;
      background-color: transparent;
    }

    button:hover {
      text-decoration: underline;
    }
  }
}
